div.absolute {

    position: absolute;

    right: 0px;

    width: 300px;

    border: 3px solid #0000;

    padding: 10px;

}

th=class="text-danger";

th+td=class="text-center";

.waves-effect.waves-brown .waves-ripple {background-color: rgba(121, 85, 72, 0.65);}

#607d8b

